<%= @images %>
<div id="thumbs">
  <% @images.each do |image| %>
      <a href="<%= asset_url('weddingPictures/'+image[0]) %>"
         style="background-image:url(<%= asset_url('thumbnails/'+image[1]) %>)">
      </a>
  <% end %>
</div>
