<div id="amulet">
    <%= image_tag('amulet.png') %>
</div>
<form action="enter" method="post" id='enter'>
    <div id="passwordBlock">
        <p class="twilight title">Please cast your entrance spell*</p>
    
        <div id="inputPopup">
            <label>
                    <input name='password' maxlength="9" value="" autofocus>
            </label>
    
            <p id="upperscores">
                &#8254; &#8254; &#8254; &#8254; &#8254; &#8254; &#8254; &#8254; &#8254;
            </p>
        </div>
        <p class="twilight subtext">*Muggles, click <a href="https://nl.wikipedia.org/wiki/Alohomora">here</a> for a hint</p> </div>
    <div id="key" onClick="document.forms['enter'].submit();">
    </div>
</form>
