<div id="amulet">
    <%= image_tag('amulet.png') %>
</div>
<div id="passwordBlock">
    <p class="twilight title">Please cast your entrance spell*</p>

    <div id="inputPopup">
        <label>
            <form action="enter" method="post">
                <input name='password' maxlength="9" value="">
            </form>
        </label>

        <p id="upperscores">
            &#8254; &#8254; &#8254; &#8254; &#8254; &#8254; &#8254; &#8254; &#8254;
        </p>
    </div>
    <p class="twilight subtext">*Muggles, click <a href="https://nl.wikipedia.org/wiki/Alohomora">here</a> to
        continue</p>
</div>
<div id="key">
</div>
