body {
  background-image: image-url("background.jpg");
  background-size: cover;
}

#content {
  width: 700px;
  height: 80%;
}

#amulet {
  img {
    max-height: 100%;
    max-width: 100%;
  }
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  margin-top: 150px;
}

.twilight {
  font-family: twilight, serif;
}

#passwordBlock {
  p.title {
    font-size: 38px;
    text-align: center;
    font-weight: lighter;
    margin: 10px;
  }
  #inputPopup {
    background-image: image-url("inputBackground.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 30px 30px 17px 30px;
  }
  input {
    &:focus {
      outline: none;
    }
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 20px;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 35px;
    text-align: center;
    color: black;
    letter-spacing: 7px;
    display: block;
  }
  #upperscores {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
    font-size: 25px;
    width:100%;
    line-height:50px;
		font-weight:bold;
  }
  p.subtext {
    padding-top:12px;
    font-size: 23px;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

#key {
  cursor: pointer;
  margin: 0 auto;
  //  margin-top: -50px;
  height: 250px;
  width: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: image-url("key.png");
  &:hover {
    background-image: image-url("keyFocussed.png");
  }
}

#paperContainer{
    padding-left:150px;
    padding-right:150px;
    padding-bottom:45px;
    margin-left:-60px;
    margin-right:-60px;
    &.long{
        background: image-url('longpage.png');
        background-size:100% 100%;
        background-repeat: no-repeat;
        padding-top:60px;
        margin-top: 60px;
    
    }
    &.short{
        background: image-url('shortpage.png');
        background-size:contain;
        background-repeat: no-repeat;
        background-position:center;
        padding-top:60px;
    }

}

@font-face {
  font-family: 'twilight';
  src: font-url('twilight.ttf');
}

@font-face {
  font-family: 'aparaji';
  src: font-url('aparaji.ttf');
}

.full_width {
    width: 100%;
}

.quote{
    height: 1em;
    vertical-align: top;
    width: auto;
}

.ampersand{
    height: 45px;
    vertical-align: bottom;
    width: auto;
}

.decal{
    height: 100px;
    width: 100%;
    background-position: center;
    background-size: 70% 80%;
    background-repeat: no-repeat;
    background-image: image-url("decal.png");
}

table.rsvp_options{
    margin: auto;
    width: 80%;
    tr{
        height: 50px;
    }
    td{
        font-size: medium;
    }
}
input[type="checkbox"]:checked + label {
    height: 20px;
    width: 20px;
}
.aparaji{
  font-family: aparaji, serif;
  color: #890228;
  &.large{
      font-size: 50px;
      line-height: 50px;
  }
  &.normal{
      font-size: 30px;
      line-height: 18px;
  }
  &.small{
      font-size: 18px;
      line-height: 18px;
  }
}

.black{
  color: black;
}

.hidden{
    display: none;
}

.centered{
    margin-left: auto;
    margin-right: auto;
}

.info>p{
    font-size: medium;
}

.p80{
    width: 80%;
}

.info-boxes{
    height:135px;
    margin-left:-60px;
    margin-right:-60px;
    .info-box{
        display: inline-block;
        height:100%;
        width:24.5%;
        img{
            height:100%;
            width:100%;
        }
    }
}
.birds{
   text-align:center;
   margin-top:-20px;
   margin-bottom:-50px;
   height:265px;
   & img{
    height:100%;
    width:auto;
   }
}

p.smaller{
    padding-top:10px;
    padding-bottom:0;
    font-size:small;
}

.tooltip-inner {
    max-width:none !important;
    font-size:15px;
    line-height:20px;
    white-space:pre-wrap;
    text-align:left !important;
}

.name-input{
    height:41px;
    width: 40%;
    font-size:26px;
    text-align:center;

}

.inner-centered{
    text-align:center;
}

input[type='submit']{
    font-size:22px;
}
