body {
  background-image: url("background.jpg");
  background-size: cover;
}

#content {
  width: 700px;
  margin-top: 10%;
  height: 80%;
}

#amulet {
  img {
    max-height: 100%;
    max-width: 100%;
  }
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.twilight {
  font-family: twilight, serif;
}

#passwordBlock {
  p.title {
    font-size: xx-large;
    text-align: center;
    font-weight: lighter;
    margin: 10px;
  }
  #inputPopup {
    background-image: url("inputBackground.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 30px 30px 17px 30px;
  }
  input {
    &:focus {
      outline: none;
    }
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    width: 230px;
    height: 1em;
    font-size: 2em;
    margin: 0 auto;
    margin-top: 35px;
    text-align: center;
    color: black;
    letter-spacing: 2px;
    display: block;
  }
  #upperscores {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
    font-size: 2.70em;
    width: 230px;
  }
  p.subtext {
    font-size: medium;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

#key {
  cursor: pointer;
  margin: 0 auto;
  //  margin-top: -50px;
  height: 250px;
  width: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("key.png");
  &:hover {
    background-image: url("keyFocussed.png");
  }
}

#paperContainer{
    padding:150px;
    margin: -60px;
    background: url('page.png');
    background-size:100%, 100%;
    background-repeat: no-repeat;

}

@font-face {
  font-family: 'twilight';
  src: url('/assets/fonts/twilight.ttf');
}

@font-face {
  font-family: 'aparaji';
  src: url('/assets/fonts/aparaji.ttf');
}

.full_width {
    width: 100%;
}

.quote{
    height: 1em;
    vertical-align: top;
    width: auto;
}

.ampersand{
    height: 45px;
    vertical-align: bottom;
    width: auto;
}

.decal{
    height: 100px;
    width: 100%;
    background-position: center;
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-image: url("decal.png");
}

table.rsvp_options{
    margin: auto;
    width: 80%;
    tr{
        height: 50px;
    }
    td{
        font-size: medium;
    }
}
input[type="checkbox"]:checked + label {
    height: 20px;
    width: 20px;
}
.aparaji{
  font-family: aparaji, serif;
  color: #890228;
  font-size: 50px;
  line-height: 50px;
}

.hidden{
    display: none;
}

.centered{
    margin-left: auto;
    margin-right: auto;
}

.info>p{
    font-size: medium;
}

.p80{
    width: 80%;
}
