// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#thumbs a{
  &:after{
    display: none !important;
  }
  &:hover {
    background-color: transparent !important;
  }
  height: 80px !important;
  background-size:cover;
}

#thumbs{
  position: absolute;
  left:0;
  width: 100% !important;
}