<!DOCTYPE html>
<html>
<head>
  <title>Once Upon a Wedding Day</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="content" class="centered">
    <%= yield %>
</div>

</body>
</html>
